* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.header-2 {
    width: 100vw;
    height: 40px;

    .header__inner-2 {
        align-items: center;
        text-align: center;
    }

    .menu {
        padding-top: 10px;
        font-size: 20px;
    }
}

.authorisation {
    .authorisation__inner {
        width: 1500px;
    }

    .user {
        background-image: url("../images/background2.png");
        width: 100vw;
        height: 100vh;
        text-align: center;
        flex-direction: column;
    }

    h4 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 200px;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
    }

    .element {
        padding-bottom: 20px;
    }

    .submit {
        display: inline-flex;
        padding: 6px 13px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;

    }

    p {
        font-size: 25px;
    }

    .block {
        margin-top: 10px;
        width: 210px;
        height: 25px;

    }
}